html, body{margin: 0px;}
#menu, #subMenu{background: rgba(255,255,255,0.4);}
span.cima{border-bottom-color: rgba(255,255,255,0.4);}
.container{max-width: none;}
#myCarousel{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	min-width: 970px;
}
.carousel-inner, .carousel-inner>.item, .carousel-inner>.item>img{
	height: 100%;
	width:100%;
}