 *{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #5a788d;
   
}
.site{
    height:400px;
    margin-top:100px;
}
.contato{
    background-color:#8898a3 ;
    width: 450px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
input{
    border-radius: 50px;
    width:100%;
    margin-top: 3px;
}
#contatoMsg{
    border-radius:15px 15px 0px 0px;
    width: 100%;

}
.btn{   
    width: 80px;
    border-radius: 50px;
    margin: 5px 40% ;
          }
textarea{
    resize:none;
    padding: 5px 0px 0px 5px;
}