{% extends 'mobile/base.html' %}
  {% load staticfiles %}
  {% block content %}
		<div class="col-xs-12">
		    <div class="col-xs-12" id="col01">{% for category in categories %}
				<div class="op" id="{{ category.name.lower }}">
					<div class="ponta"></div>
					<div class="box1"><img src="{{ MEDIA_URL }}{{ category.picture }}"/></div>
					<div class="sombra"></div>
					<div class="box2">
						<div class="texto">{{ category.text|linebreaks }}</div>
					</div>
				</div>
                <div class="col-xs-12">	{% for service in services %} {% if service.category.name.lower == category.name.lower %}
    			    <div id="{{ category.name.lower }}-{{ service.name.lower }}" style="display:none">
    					<div class="op">
    						<div class="ponta"></div>
    						<div class="box1 sub">
    							<img src="{{ MEDIA_URL }}{{ service.picture }}"/>
    						</div>
    						<div class="sombra"></div>
    						<div class="box22 sub">
    							<div class="texto">{{ service.text|linebreaks }}</div>
    						</div>
    					</div>
          			</div>{% endif %} {% endfor %}
                </div>{% endfor %}
		    </div>
		</div>
		<script>
		$(document).ready(function(){ {% for category in categories %}
    		$("#{{ category.name.lower }}").click(function (div){
        		$(".box2").removeClass("ativado");
        		$("#{{ category.name.lower }} .box2").addClass("ativado");	{% for service in services %} {% if service.category.name.lower == category.name.lower %}
            		$("#{{ category.name.lower }}-{{ service.name.lower }}").addClass("ativado"); {% else %}
            		$("#{{ service.category.name.lower }}-{{ service.name.lower }}").removeClass("ativado");
            		$("#{{ service.category.name.lower }}-{{ service.name.lower }} .box22").removeClass("ativado"); {% endif %}	{% endfor %}
        	});	{% endfor %} {% for service in services %}
        	$("#{{ service.category.name.lower }}-{{ service.name.lower }}").click(function (div){
        		$("#{{ service.category.name.lower }}-{{ service.name.lower }} .box22").addClass("ativado");
        	});	{% endfor %}
        });
		</script>
  {% endblock %}
