{% extends 'news/base.html' %}
  {% load staticfiles %}
  {% block content %}
  	<div class="col-xs-12">
			<div class="col-xs-3">
				<div class="corpo">
				<span class="orelha"></span>
				<div class="menuTexto">
					<h2>Portfólio</h2>
					<hr>
					<a id="tudo" href="#"><p> > Todos </p></a>
					<a id="site" href="#"><p> > Sites </p></a>
					<a id="programa" href="#"><p> > Programas </p></a>
					<a id="evento" href="#"><p> > Eventos </p></a>
				</div>
			</div>
			<span class="bandeira"></span>
			</div>
			<div  class="containerImg col-xs-9">
				{% for client in clients %}
					<div class="colImg col-xs-4 {{ client.category.name.lower }}">
						<img src="/media/{{ client.picture }}" class="imgPort mostrarImagem {{ client.category.name.lower }}">
					</div>
				{% endfor %}
			</div>
		</div>
  {% endblock %}
