{% extends 'news/base.html' %}
  {% load staticfiles %}
  {% block content %}
        <div class="col-xs-12">
            <div class="contato">
              <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                  <fieldset>
                      <legend>{{ title }}</legend>
                      {% for field in form %}
                          {% if field.errors %}
                              <div>
                                  <label class="control-label">{{ field.label }}</label>
                                  <div>{{ field }}
                                      <span>
                                          {% for error in field.errors %}{{ error }}{% endfor %}
                                      </span>
                                  </div>
                              </div>
                          {% else %}
                              <div>
                                  <label class="control-label">{{ field.label }}</label>
                                  <div>{{ field }}
                                      {% if field.help_text %}
                                          <p><small>{{ field.help_text }}</small></p>
                                      {% endif %}
                                  </div>
                              </div>
                          {% endif %}
                      {% endfor %}
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
        </div>

        <!--    FORMULARIO FUNCIONAL PRA ADICIONAR POSTS / SLIDES
        <div class="col-xs-12">
            <div class="contato">
                    <form method="post" class="post-form">{% csrf_token %}
											{{ form }}
                        <!-- <textarea class="caixa" name="Mensagem" id="contatoMsg" cols="58" placeholder="Deixe sua mensagem" rows="7"></textarea><br>
                        <input type="text" id="nome" name="nome" placeholder=" Nome" required><br>
                        <input type="email" id="email" name="email" placeholder=" E-mail" required><br> ->
                        <button type="submit" class="save btn btn-default">Enviar</button>
                    </form>
            </div>
        </div-->

    {% endblock %}
