{% extends 'mobile/base.html' %}
  {% load staticfiles %}
  {% block content %}
      <div class="col-xs-12">
        <div id='sobre' class="col-xs-12">
            <div class="col-xs-12 quemSomos">
                <h1>Who are <strong>we</strong>?</h1>
                <p>{{ company.about|linebreaks }}</p>
            </div>
            <div class="col-xs-12 missao">
              <span class="icon" style="background-position:-15px 397px;"></span>
              <h2>Missão</h2>
              <p>{{ company.mission }}</p>
            </div>
            <div class="col-xs-12 visao">
              <span class="icon" style="background-position:-15px 180px;"></span>
                <h2>Visão</h2>
                <p>{{ company.vision }}</p>
            </div>
            <div class="col-xs-12 valores">
              <span class="icon" style="background-position:-15px 288px;"></span>
                <h2>Valores</h2>
                <p>{{ company.value|linebreaks }}</p>
            </div>
        </div>
        <div class="col-xs-12">
			<div class="col-xs-12 mej1">
			    <a id="sobreMej" href="#">
    		        <h4>Já conhece o MEJ?</h4>
		        </a>
      		</div>
      		<div class="col-xs-12 mej">
      	    <span class="baixo"></span>
      	    <a href="http://brasiljunior.org.br" target="_blank">
              <img class="col-xs-12 espaco" alt="" src="{% static '' %}sitio/img/brasiljunior.svg"/>
            </a>
      		</div>
      		<div class="col-xs-12 mej1">
      		    <a id="sobreParceiros" href="#">
      	            <h4>Parceiros</h4>
  	            </a>
      		</div>
      		<div class="col-xs-12 parceiros">
      	    <span class="baixo"></span>
            <a href="http://ufrn.br" target="_blank">
              <img class="col-xs-12 espaco" alt="" src="{% static '' %}sitio/img/ufrn.svg"/>
            </a>
            <a href="http://www.fb.com/federacaornjunior" target="_blank">
              <img class="col-xs-12 espaco" alt="" src="{% static '' %}sitio/img/rnjunior.svg"/>
            </a>
          </div>
        </div>
      </div>
      {% endblock %}
