.conteudo{
	margin-bottom: 20px;
}
.quemSomos{
    background-color: #68a6d5;
    margin-bottom: 20px;
}
.quemSomos h1,.quemSomos p,.mej1 h4{
    color: white;
}
.quemSomos h1{
    text-indent: 5px;
    
}
.quemSomos p{
    text-indent: 25px;
    
}

.quemSomos p, .missao p,.visao p,.valores p{
    font-size: large;
}
.missao,.visao,.valores,.espaco{
    text-align:  center;
    
}
.missao h2,.visao h2,.valores h2{
	
    color: #6bb8b8
}
.espaco{
    padding-top: 10px;
}
.mej,.parceiros{
    background-color: #ebebeb;
    padding-bottom:  15px;
}
.mej1{
    background: #545454;
    margin-bottom: -10px ;
	padding-bottom:10px;
}

span.baixo{ 
    border-top-color:#545454;
    margin: 0 50%;
}

a.espaco:link,a.espaco:active,a.espaco:visited,a.espaco:hover{im
    text-decoration: none;
    text-decoration-color: black;
    color:black;
}
#sobre .icon{
	margin: 0px auto;
	
    background-image:url('http://ejectufrn.com.br/site/components/img/sobre.svg');
    background-size:93px 500px;
    height:100px;
    width:93px;
}

